body{
    background-color: #eee;
}

/* .relative{
    position: relative !important;
    overflow: hidden;
    width: 100%;
} */
/* .relative img {
    height: 100% !important;
} */

/* .customOverlay{
    position: absolute;
    height: 100px;
    background-color: black;
    bottom: 0;
    width: 100%;
    left: 0;

} */